In [13]:
import pandas as pd
import numpy as np

In [14]:
df=pd.read_excel('Course Project - Data for Classification - Electric Vehicles.xls')
df.head()

,Q11_1,Q11_2,Q11_3,Q11_4,Q11_5,Q11_6,Q11_7,Q11_8,Q11_9,Q11_10,...,Q18_17,Q18_18,Q18_19,Q18_20,Q18_21,Q18_22,Q18_23,Q20,Q21,Q16
0,0,0,0,1,1,0,0,1,0,0,...,5,5,5,5,5,5,5,3,3,A
1,1,0,0,1,0,0,1,0,0,1,...,4,2,4,2,2,2,2,3,3,D
2,1,1,0,1,0,0,1,1,0,1,...,4,4,?,?,4,2,4,4,1,A
3,0,0,0,0,0,0,0,0,0,0,...,?,?,?,?,?,?,?,3,3,C
4,1,1,0,1,0,0,1,1,0,1,...,?,?,1,1,?,?,?,3,3,D

In [15]:
print(df['Q16'].unique())

['A' 'D' 'C' 'B']

In [16]:
df['Q16'].value_counts()

Q16
A    2883
B    1526
C     892
D     807
Name: count, dtype: int64

In [12]:
df.replace('?', np.nan, inplace=True)

# Q16 sütununu one-hot encoding ile dönüştür
df = pd.get_dummies(df, columns=['Q16'], prefix=['Q16'])

# Dönüştürülmüş veriyi yazdır
print(df)

KeyError: "None of [Index(['Q16'], dtype='object')] are in the [columns]"

In [17]:
df.head()

,Q11_1,Q11_2,Q11_3,Q11_4,Q11_5,Q11_6,Q11_7,Q11_8,Q11_9,Q11_10,...,Q18_17,Q18_18,Q18_19,Q18_20,Q18_21,Q18_22,Q18_23,Q20,Q21,Q16
0,0,0,0,1,1,0,0,1,0,0,...,5,5,5,5,5,5,5,3,3,A
1,1,0,0,1,0,0,1,0,0,1,...,4,2,4,2,2,2,2,3,3,D
2,1,1,0,1,0,0,1,1,0,1,...,4,4,?,?,4,2,4,4,1,A
3,0,0,0,0,0,0,0,0,0,0,...,?,?,?,?,?,?,?,3,3,C
4,1,1,0,1,0,0,1,1,0,1,...,?,?,1,1,?,?,?,3,3,D

In [11]:
from sklearn.impute import KNNImputer
import numpy as np



# Kullanmak istediğiniz imputasyon sütunlarını seçin
imputation_columns = df.columns

# Denenecek k değerleri
k_values = [1, 3, 5, 7, 9]

# En iyi k değerini ve performansını saklamak için değişkenler
best_k = None
best_score = 0

# Her bir k değeri için KNN imputasyonu yapın
for k in k_values:
    imputer = KNNImputer(n_neighbors=k)
    df_imputed = imputer.fit_transform(df)

    # Eksik değerleri doldurulmuş veriyi kullanarak bir sınıflandırma modeli eğitme
    # Bu kısmı atlıyoruz, sadece eksik değerleri dolduruyoruz.

    # (Opsiyonel) Modelin performansını değerlendirme
    # Bu kısmı atlıyoruz, sadece eksik değerleri dolduruyoruz.

    # En iyi k değerini sakla
    best_k = k

# En iyi k değeri ile tüm veri setini doldurun
best_imputer = KNNImputer(n_neighbors=best_k)
df_best_imputed = pd.DataFrame(best_imputer.fit_transform(df), columns=df.columns)

# Eksik değerleri doldurulmuş veriyi yazdır
print(df_best_imputed)
print(best_k)

ModuleNotFoundError: No module named 'sklearn'

In [79]:
df_best_imputed.head()
# missing values KNN kullanılarak en iyi k ddeğeri seçmeye çalışılarak dolduruldu

,Q11_1,Q11_2,Q11_3,Q11_4,Q11_5,Q11_6,Q11_7,Q11_8,Q11_9,Q11_10,...,Q18_20,Q18_21,Q18_22,Q18_23,Q20,Q21,Q16_A,Q16_B,Q16_C,Q16_D
0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,5.000000,5.000000,5.000000,5.000000,3.0,3.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,2.000000,2.000000,2.000000,2.000000,3.0,3.0,0.0,0.0,0.0,1.0
2,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,...,2.333333,4.000000,2.000000,4.000000,4.0,1.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.000000,3.444444,2.777778,2.666667,3.0,3.0,0.0,0.0,1.0,0.0
4,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,...,1.000000,2.555556,1.777778,2.666667,3.0,3.0,0.0,0.0,0.0,1.0

In [80]:
missing_values = df.isnull().sum()

# Her sütundaki eksik değer sayısını yazdır Kontrol amaçlı yapıldı
print(missing_values)

Q11_1    0
Q11_2    0
Q11_3    0
Q11_4    0
Q11_5    0
        ..
Q21      0
Q16_A    0
Q16_B    0
Q16_C    0
Q16_D    0
Length: 78, dtype: int64